.burger {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    
    display: none;
    width: 3rem;
    height: 2rem;
    padding: 0;
    
    font-size: 0;
    color: transparent;
    
    background: none;
    border: none;
    
    transform: translateY(-50%);
    
    &:before,
    &:after,
    span {
        position: absolute;
        
        display: block;
        width: 100%;
        height: 2px;
        
        background-color: $white;
    }
    
    &:before,
    &:after {
        content: "";
        
        transition: transform .2s linear;
    }
    
    &:before {
        top: 0;
    }
    
    &:after {
        bottom: 0;
    }
    
    span {
        top: 50%;
        
        transition: opacity .2s linear;
        transform: translateY(-50%)
    }
    
    .show-sidebar & {
        span {
            opacity: 0;
        }
        
        &:before,
        &:after {
            top: 50%;
        }
        
        &:before {
            transform: rotate(45deg);
        }
        
        &:after {
            transform: rotate(-45deg);
        }
    }
    
    @include breakpoint($tablet-bp) {
        display: block;
    }
}
