.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal;
    
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    
    background-color: rgba($black, .8);
    
    &.show {
        display: flex;
    }
}

.modal__content {
    position: relative;
    
    max-width: 500px;
    width: 100%;
    padding: 8rem;
    
    background-color: $primary;
    border-radius: 5px;
    opacity: 0;
    
    transform: translateY(-50px);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    
    &--contact {
        padding-bottom: 2.5rem;
    }
    
    &--story {
        padding: 0;
        
        background: none;
    }
    
    @include breakpoint($tablet-bp) {
        padding: 5rem 3rem 3rem;
    }
}

.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    
    padding: 0;
    
    background: none;
    border: none;
    cursor: pointer;
    opacity: .5;
    
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    
    &:hover {
        opacity: 1;
        
        transform: rotate(90deg) scale(1.2);
        transition-duration: .25s;
    }
}

.modal__footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
    color: #B2B2B2;
    
    li + li {
        margin-left: 1.7rem;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
        }
    }
}

.modal__video {
    display: block;
    margin: 0 auto;
}

